/*NAV BAR ANIMATION*/

@keyframes  navLinkFade {
  from{
      opacity: 0;
      transform: translateX(50px)
  }

  to {
      opacity: 1;
      transform: translateX(0px);
  }
}




/*INTRODUCTION SQUARE ANIMATIONS*/

@keyframes walking {

   0% {
		transform: 
		translateX(-100px) rotate(0deg)

  }
   13% {
		transform: 
			translateX(100px) rotate(6deg)
  }

  27% {
    transform: 
      translateX(-100px)
  }

  42% {
    transform:
       translateX(100px) rotate(20deg)
  }

  57% {
    transform:
       translateX(-100px) 
  }
  70% {
    transform: 
      translateX(100px) rotate(45deg)
  }

  100% {
    transform:
       translateX(-100px) 
  }

}

@keyframes floats {

	0% {
		transform: translatey(0px);

	}
	50% {
		transform: translatey(-30px);

	}
	100% {
		transform: translatey(0px);

	}
}


@keyframes rotate {

	0% {
		transform: rotate(0px);
	}
	33% {
		transform: rotate(20deg);
	}
  100% {
		transform: rotate(0px);
	}
}

@keyframes spinning {

	0% {
		transform: translateY(0px) rotate(0deg);
	}

  50% {
		transform: translateY(-90px) rotate(90deg);
	}
  100% {
		transform: translateY(0px) rotate(90deg);
	}

}

@keyframes spinning1 {

	0% {
		transform: translatex(0px) rotate(0deg);
	}

  12.5% {
		transform: translatex(70px)  rotate(90deg);
	}

  25% {
		transform: translatex(140px) rotate(180deg);
	}

  37.5% {
		transform: translatex(210px) rotate(280deg);
	}

  50% {
		transform: translatex(-210px) rotate(260deg);
	}

  62.5% {
		transform: translatex(-140px) rotate(360deg);
	}

  75% {
		transform: translatex(-70px) rotate(450deg);
	}

  87.5% {
		transform: translatex(0px) rotate(545deg);
	}

  100% {
    transform: translatex(0px) rotate(540deg);
  }


}

@keyframes spinning2 {

	0% {
		transform: translateY(0px) rotate(0deg);
	}

  12.5% {
		transform: translatex(40px) rotate(90deg);
	}

  25% {
		transform: translatex(80px) rotate(180deg);
	}

  37.5% {
		transform: translatex(120px) rotate(280deg);
	}

  50% {
		transform: translatex(-120px) rotate(260deg);
	}

  62.5% {
		transform: translatex(-80px) rotate(360deg);
	}

  75% {
		transform: translatex(-40px) rotate(450deg);
	}

  87.5% {
		transform: translatex(0px) rotate(545deg);
	}

  100% {
    transform: translatex(0px) rotate(540deg);
  }


}

@keyframes spinning3 {

	0% {
		transform: translateY(0px) rotate(0deg);
	}

  12.5% {
		transform: translatex(30px) rotate(90deg);
	}

  25% {
		transform: translatex(60px) rotate(180deg);
	}

  37.5% {
		transform: translatex(90px) rotate(280deg);
	}

  50% {
		transform: translatex(-90px) rotate(260deg);
	}

  62.5% {
		transform: translatex(-60px) rotate(360deg);
	}

  75% {
		transform: translatex(-30px) rotate(450deg);
	}

  87.5% {
		transform: translatex(0px) rotate(545deg);
	}

  100% {
    transform: translatex(0px) rotate(540deg);
  }

}


/*PROJECTS SQUARE ANIMATIONS*/

@keyframes rotate2 {

	0% {
		transform: rotate(0px);
	}
	25% {
		transform: rotate(20deg);
	}
  50% {
		transform: rotate(0px);
	}
  75% {
		transform: rotate(-50deg);
	}
  100% {
		transform: rotate(0px);
	}
}


@keyframes updown {

	0% {
		transform: translateY(-150px) rotate(0deg);
	}

  12.5% {
		transform: translateY(-75px) rotate(90deg);
	}

  25% {
		transform: translatey(0px) rotate(180deg);
	}

  37.5% {
		transform: translatey(75px) rotate(270deg);
	}

  50% {
		transform: translatey(150px) rotate(360deg);
	}

  63.5% {
		transform: translatey(75px) rotate(450deg);
	}

  75% {
		transform: translatey(0px) rotate(540deg);
	}

  87.5% {
		transform: translatey(-75px) rotate(630deg);
	}
  100% {
		transform: translatey(-150px) rotate(720deg);
	}

}

@keyframes rainbow{
  100%,0%{
    color: rgb(255,0,0);
  }
  8%{
    color: rgb(255,127,0);
  }
  16%{
    color: rgb(255,255,0);
  }
  25%{
    color: rgb(127,255,0);
  }
  33%{
    color: rgb(0,255,0);
  }
  41%{
    color: rgb(0,255,127);
  }
  50%{
    color: rgb(0,255,255);
  }
  58%{
    color: rgb(0,127,255);
  }
  66%{
    color: rgb(0,0,255);
  }
  75%{
    color: rgb(127,0,255);
  }
  83%{
    color: rgb(255,0,255);
  }
  91%{
    color: rgb(255,0,127);
  }
}

@keyframes light {
  100%,0%{
    color: #E1006C;
  }
  50%{
    color: rgba(225, 0, 108, 0.7);
  }

}







