/*NAV BAR ANIMATION*/

@keyframes  navLinkFade {
  from{
      opacity: 0;
      transform: translateX(50px)
  }

  to {
      opacity: 1;
      transform: translateX(0px);
  }
}




/*INTRODUCTION SQUARE ANIMATIONS*/

@keyframes walking {

   0% {
		transform: 
		translateX(-100px) rotate(0deg)

  }
   13% {
		transform: 
			translateX(100px) rotate(6deg)
  }

  27% {
    transform: 
      translateX(-100px)
  }

  42% {
    transform:
       translateX(100px) rotate(20deg)
  }

  57% {
    transform:
       translateX(-100px) 
  }
  70% {
    transform: 
      translateX(100px) rotate(45deg)
  }

  100% {
    transform:
       translateX(-100px) 
  }

}

@keyframes floats {

	0% {
		transform: translatey(0px);

	}
	50% {
		transform: translatey(-30px);

	}
	100% {
		transform: translatey(0px);

	}
}

@keyframes rotate {

	0% {
		transform: rotate(0deg);

	}
	33% {
		transform: rotate(-30deg);

	}
	100% {
		transform: rotate(0deg);

	}
}


@keyframes floats1 {

	0% {
		transform: rotate(-25deg) translatey(10px);

	}
	33% {
		transform: rotate(-25deg) translatey(-10px) translatex(5px);

	}
	66% {
		transform: rotate(-25deg) translatey(0px);

	}
  100% {
		transform: rotate(-25deg) translatey(10px);

	}
}

@keyframes floats2 {

	0% {
		transform: rotate(25deg) translatey(10px);

	}
	33% {
		transform: rotate(25deg) translatey(-10px) translatex(-5px);

	}
	66% {
		transform: rotate(25deg) translatey(0px);

	}
  100% {
		transform: rotate(25deg) translatey(10px);

	}
}


@keyframes spinning {

	0% {
		transform: translateY(0px) rotate(0deg);
	}

  50% {
		transform: translateY(-90px) rotate(90deg);
	}
  100% {
		transform: translateY(0px) rotate(90deg);
	}

}

@keyframes spinning1 {

	0% {
		transform: translatex(0px) rotate(0deg);
	}

  12.5% {
		transform: translatex(70px)  rotate(90deg);
	}

  25% {
		transform: translatex(140px) rotate(180deg);
	}

  37.5% {
		transform: translatex(210px) rotate(280deg);
	}

  50% {
		transform: translatex(-210px) rotate(260deg);
	}

  62.5% {
		transform: translatex(-140px) rotate(360deg);
	}

  75% {
		transform: translatex(-70px) rotate(450deg);
	}

  87.5% {
		transform: translatex(0px) rotate(545deg);
	}

  100% {
    transform: translatex(0px) rotate(540deg);
  }


}

@keyframes spinning2 {

	0% {
		transform: translateY(0px) rotate(0deg);
	}

  12.5% {
		transform: translatex(40px) rotate(90deg);
	}

  25% {
		transform: translatex(80px) rotate(180deg);
	}

  37.5% {
		transform: translatex(120px) rotate(280deg);
	}

  50% {
		transform: translatex(-120px) rotate(260deg);
	}

  62.5% {
		transform: translatex(-80px) rotate(360deg);
	}

  75% {
		transform: translatex(-40px) rotate(450deg);
	}

  87.5% {
		transform: translatex(0px) rotate(545deg);
	}

  100% {
    transform: translatex(0px) rotate(540deg);
  }


}

@keyframes spinning3 {

	0% {
		transform: translateY(0px) rotate(0deg);
	}

  12.5% {
		transform: translatex(30px) rotate(90deg);
	}

  25% {
		transform: translatex(60px) rotate(180deg);
	}

  37.5% {
		transform: translatex(90px) rotate(280deg);
	}

  50% {
		transform: translatex(-90px) rotate(260deg);
	}

  62.5% {
		transform: translatex(-60px) rotate(360deg);
	}

  75% {
		transform: translatex(-30px) rotate(450deg);
	}

  87.5% {
		transform: translatex(0px) rotate(545deg);
	}

  100% {
    transform: translatex(0px) rotate(540deg);
  }

}


/*PROJECTS SQUARE ANIMATIONS*/

@keyframes rotate2 {

	0% {
		transform: rotate(0px);
	}
	25% {
		transform: rotate(20deg);
	}
  50% {
		transform: rotate(0px);
	}
  75% {
		transform: rotate(-50deg);
	}
  100% {
		transform: rotate(0px);
	}
}


@keyframes updown {

	0% {
		transform: translateY(-150px) rotate(0deg);
	}

  12.5% {
		transform: translateY(-75px) rotate(90deg);
	}

  25% {
		transform: translatey(0px) rotate(180deg);
	}

  37.5% {
		transform: translatey(75px) rotate(270deg);
	}

  50% {
		transform: translatey(150px) rotate(360deg);
	}

  63.5% {
		transform: translatey(75px) rotate(450deg);
	}

  75% {
		transform: translatey(0px) rotate(540deg);
	}

  87.5% {
		transform: translatey(-75px) rotate(630deg);
	}
  100% {
		transform: translatey(-150px) rotate(720deg);
	}

}

@keyframes rainbow{
  100%,0%{
    color: rgb(255,0,0);
  }
  8%{
    color: rgb(255,127,0);
  }
  16%{
    color: rgb(255,255,0);
  }
  25%{
    color: rgb(127,255,0);
  }
  33%{
    color: rgb(0,255,0);
  }
  41%{
    color: rgb(0,255,127);
  }
  50%{
    color: rgb(0,255,255);
  }
  58%{
    color: rgb(0,127,255);
  }
  66%{
    color: rgb(0,0,255);
  }
  75%{
    color: rgb(127,0,255);
  }
  83%{
    color: rgb(255,0,255);
  }
  91%{
    color: rgb(255,0,127);
  }
}

@keyframes light {
  100%,0%{
    color: #E1006C;
  }
  50%{
    color: rgba(225, 0, 108, 0.7);
  }

}

/*Carrosel*/

:root {
  --marquee-width: 80vw;
  --marquee-height: 20vh;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.marquee {
  width: auto;
  height: var(--marquee-height);
  background-color: #0c0c0c;
  color: #eee;
  overflow: hidden;
  position: relative;
}
.marquee:before, .marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}
.marquee:before {
  left: 0;
  background: linear-gradient(to right, #0c0c0c 0%, transparent 100%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #0c0c0c 0%, transparent 100%);
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
/* .marquee-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height)*3/4); /* 5rem; */
  white-space: nowrap;
}

.marquee-content li img {
  width: 100%;
  /* height: 100%; */
  border: 2px solid #eee;
}

@media (max-width: 600px) {
  html { font-size: 12px; }
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before, .marquee:after { width: 5rem; }
}

.ss:hover {
  animation:  shake 0.82s cubic-bezier(.36,.07,.19,.97) 1;
}


/*PROJECTS BACKGROUND*/

@keyframes animate {
	0%{
		transform: scale(0) translatey(0) rotate(0);
		opacity: 1;
	}
	100%{
		transform: scale(1.3) translatey(-90px) rotate(360deg);
		opacity: 0;
	}

}




/*ICON SHAKE*/
@keyframes shake {
  10%, 90% {
    transform: translate3d(-0.250px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(0.5px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-1px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(1px, 0, 0);
  }
}







