.cor1 {
  color: #fff;
}

.cor2 {
  color: #0c0c0c;
}

.cor3 {
  color: #E1006C;
  font-weight: bold;
}

.cor4 {
  color: #737373;
}

.cor5 {
  color: #230011;
}

.cor6 {
  color: #3F3D56;
}


