a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo:hover .shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) 1;
  transform: translate3d(0, 0, 0);

}

.logo {

  font-size: 24px;
  z-index: 6;
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0c0c0c;
  height: 8vh;
  transition: top 0.3s;
}


.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

.mobile-menu:hover .li {
  background: #E1006C;

}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 6vh;
    right: 0;
    width: 100vw;
    height: 50vh;
    background: linear-gradient(to bottom, #0c0c0c 90% , transparent);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translatey(-110%);
    transition: transform 0.3s ease-in;
    z-index: 5;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
  z-index: 6;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
  z-index: 6;
}

.mobile-menu.active .line2 {
  opacity: 0;
  z-index: 6;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
  z-index: 6;
}

@media (max-width: 450px) {
  .logo {
    font-size: 30px;
  }
}
